.program { }
.program-summary { }
.book-summary { }
.program-songs { }
.song-metadata { }
.song-scores { }
.song-parts { }
.song-recordings { }
.parts-in-book { }

.book-summary ul, .song-scores ul, .song-parts ul, .parts-in-book ul, .song-recordings ul { 
    list-style-type: none;
}
.book-summary li, .song-scores li, .song-parts li, .parts-in-book li {
	/* padding-left: 2em; */
	/* text-indent: -2em; */
	/* overflow: hidden; */
	/*text-overflow: ellipsis; */ 
	white-space: nowrap;
	float: left;
	margin-right: 1em;
}
.clear {
	clear: both;
}
