/*
 *  Styling for Manifest
 */

.program { }
.program h2 { 
	margin-bottom: 1.2em;
}
.program-summary { }
.book-summary { }
.program-songs { }
.song-metadata { 
	margin-top: 1.2em;
}
.song-scores { }
.song-parts { }
.song-recordings { }
.parts-in-books { }
.parts-in-book { }

.clear {
	clear: both;
}
.book-summary ul, .song-scores ul, .song-parts ul, .parts-in-book ul, .song-recordings ul { 
    list-style-type: none;
    line-height: 1.2em ;
}
.book-summary h2 { 
    margin-top: 14px ; 
    margin-bottom: 2px ; 
}
.program-songs h4 { 
    margin-left: 1.0em ;
    margin-top: 1.5em ; 
    margin-bottom: 0.6em ; 
}
.parts-in-books h3 { 
    margin-left: 1em ;
    margin-top: 12px ; 
    margin-bottom: 0px ;
    padding:0 ;
    -webkit-margin-before:0 ; 
    -webkit-margin-after:0 ;
    -webkit-margin-end:0 ; 
    -webkit-margin-start:0 ;   
}
.book-summary li, .song-scores li, .song-parts li, .parts-in-book li {
	white-space: nowrap;
	float: left;
	margin-right: 1.2em;
}
.song-recordings li, song-parts li {
	line-height: 1.4em ; 
}
.song-metadata p {
	line-height: 1.2em ; 
	margin-left: 2em;
	margin-bottom: 4px ; 
}
.song-metadata h3 {
	margin-top: 0.2em ; 
}
